:root {
    --color-blue: #0258F8;
    --color-grey: #7E8492;
    --font-title: 'Inter', sans-serif; 
} 

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/static/Inter-Regular.woff2') format('woff2'),
         url('fonts/Inter/static/Inter-Regular.woff') format('woff'),
         url('fonts/Inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
h1 {
    font-family: var(--font-title);  /* Usando a variável para a fonte Inter */
    font-weight: 600;
    font-weight: 600;
}
body {
    font-family: var(--font-title);  
}
body h2{
    font-size: 1.68rem;
}
body p{ /* Define a cor e espaçamento das linhas do p em todo o sistema*/
    color: var(--color-grey);
    line-height: 150%;
    font-size: 0.85rem;
}
body button{
    font-size: 0.8rem;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 20px;  
}
#banner-desktop, #menu-desktop {
    display: none;
}
.division{ /* Criação da divisão (linha)*/
    height: 1px;
    width: 99%;
    background-color: #EDEDED;
    margin: 0 0 8% 0;
    display: flex;
    justify-self: center;
}

#banner-mobile {
    font-size: 0.64rem; 
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-blue);
}
#banner-mobile p{
    color: #FFFFFF;
}
#menu-mobile{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 5%;
    align-items: center;
}
#menu-mobile button{ /*Arrumar o tamanho do menu hambúrguer*/
    background-color: #FFFFFF;
}
#menu-mobile button{
    height: 20px;
    width: 70%;
    margin-right: 20px;
}
#hero h1{
    font-size: 2rem;
    padding-left: 20px;
    padding-bottom: 20px;
}
#hero p{
    font-size: 0.86rem;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--color-grey);
    padding-bottom: 25px;
}
#first-button, #second-button{
    display: flex;
    margin: 15px;
    border-radius: 45px;
}
#first-button{
    padding: 5% 7% 5% 7%;
    background-color: var(--color-blue);
    color:#FFFFFF;
}
#second-button{ /*Arrumar o espaçamento entre o botão de play e a frase*/
    padding: 5% 9% 5% 9%;
    margin-bottom: 40px;
    color: var(--color-blue);
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
}
#languages-presentation{
    padding-left: 20px;
}
#languages-presentation h4{
    padding-bottom: 20px;
}
.flags{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
    align-items: center;
    padding-bottom: 7%;
}
.flags button{
    border-radius: 45px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    padding: 3%;
}
.flags img{
    width: 30px;
    height: 22px;
}
#languages-presentation p{
    padding-bottom: 11%;
    padding-right: 15%;
}
#img-navegador img{ /* Arrumar tamanho da imagem colorida*/
    width: 325px;
    height: 225px;
    display: flex;
    justify-self: center;
    padding-bottom: 15%;
}
#companies-presentation{
    padding-top: 20%;
    background-color: #FAFBFA;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#companies-presentation h2{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15% 12% 15%;
}
.website-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    
    padding: 0 15% 12% 15%;
}
.website-logos img{
    width: 230px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}
#message-main h2{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}
#message-main p{
    padding: 0 20px 40px 20px;
}
#message-main button{
    background-color: var(--color-blue);
    color: #FFFFFF;
    border-radius: 45px;
    margin: 0 0 50px 20px;
    padding: 5% 10%;
}
#descriptions{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}
.symbols{ /* No desktop tem que colocar o simbolo para 36px*/
    border-radius: 60px;
    background-color: #EDEDED;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A1A;
    font-size: 1.2rem;
}
.exception-phrase{
    padding: 5% 0 5% 0;
}
#description1, .description2{ /* Terminar de arrumar o espaçamento entre as divisões e frases*/
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0 30px 0;
}
#copywriting{
    padding-top: 15px;
    background-color: #1A1A1A;
}
#copywriting h2{
    padding: 50px 40px 20px 20px;
    flex-wrap: wrap;
    color: #FFFFFF;
}
#copywriting p{
    padding: 10px 20px 20px 20px;
}
.boxes {
    background-color: #1A1A1A;
    padding: 40px 20px;
}
.boxes h3 {
    color: #FFFFFF;
    padding: 10% 25% 10% 0;
}
#box{
    padding: 15px 20px;
    background-color: #212121;
    border-radius: 16px;
    margin-bottom: 5%;
}
.boxes p {
    color: var(--color-grey); 
}
#advertising{
    padding: 50px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#advertising p{
    padding: 20px 0 0 0;
}
#button-plans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#button-plans #first-h5{
    padding-right: 5%;
}
#button-plans #second-h5{
    padding-left: 10%;
}
#arrow {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center; 
    justify-content: center; 
    gap: 5px;
}
#arrow img {
    padding: 0;
    display: block;
}
#button-of-save75 button {
    background-color: var(--color-blue);
    border-radius: 45px;
    color: #FFFFFF;
    padding: 8px;
    margin-top: 15%;
    margin-left: 65px;
}
/* PLANOS */
#plans {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.plan1 {
    border: 1px solid #EDEDED;
}
.plan1 .icons{
    background-color: #EDEDED;
    border-radius: 60px;
    padding: 7px;
    width: 20px;
}
.plan1 h3,
#plan2 h3{
    padding: 15px 0 10px 0;
}
.plan1, #plan2 {
    padding: 40px 20px;
}
.included {
    padding: 0 0 15px 0;
}
#value{ /* Arrumar a fonte */
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 10px;
}
#value h2{
    font-size: 2.6rem;
    padding: 20px 0;
}
.included-on-plan .topic{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}
.topic img{
    width: 20px;
    height: 20px;
}
.get-free {
   display: block;
   margin: 40px auto 0 auto;
   padding: 14px 20px;
   border-radius: 45px;
   background-color: #FFFFFF;
   border: 1px solid #EDEDED;
}
#plan2 { /* Arrumar o espaçamento entre o Business included e os tópicos*/
    background-color: var(--color-blue);
    color: #FFFFFF;
    border-radius: 15px;
    position: relative;
    padding: 50px 20px 40px; 
}
#best-offers {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    color: #000;
    border-radius: 45px;
    padding: 8px;
}
#icon {
    width: 40px;
    height: 40px;
}
#plan2 p strong,
#plan2 p {
    display: flex;
    color: #FFFFFF !important; 
}
.topic img{
    color: #FFFFFF;
}

/* FOOTER */
footer {
    background-color: #1D1E25;
    color: #FFFFFF;
    padding: 20px;
}
.promo-container{
    border-top-left-radius: 15px;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0 40px 0;
    margin: 35px 0 35% 0;
}
.promo-container h2{
    padding: 0 0 30px 0;
}
.promo-container p {
    padding: 0 7px 30px 7px;
    display: flex;
    justify-content: center;
    color: #EDEDED;
    align-items: center;
    text-align: center;
    width: 93%;
    align-self: center;
}
.promo-container button {
    border-radius: 45px;
    padding: 10px 5px;
    margin: 0;
    width: 210px;
    height: 54px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
#white-logo img{
    padding: 60px 0 20px 0;
    width: 140px;
    max-height: 70px;
}
footer #phrase,
footer #phrase2 {
    color: #FFFFFF;
    padding: 10px 0 60px 0;
}
.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 7%;
    padding: 20px;
}
#privacy-policy {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}
#copyright {
    display: flex;
    justify-content: center;
}
#privacy-policy p, 
#copyright p{
        color: #FFFFFF;
}
