:root {
    --color-blue: #0258F8;
    --color-grey: #7E8492;
    --font-title: 'Inter', sans-serif; 
} 

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/static/Inter-Regular.woff2') format('woff2'),
         url('fonts/Inter/static/Inter-Regular.woff') format('woff'),
         url('fonts/Inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
h1 {
    font-family: var(--font-title);  /* Usando a variável para a fonte Inter */
    font-weight: 600;
}
body {
    font-family: var(--font-title);  
}
body button{
    font-size: 0.8rem;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 20px;  
}
#banner-desktop, #menu-desktop {
    display: none;
}

#banner-mobile {
    font-size: 0.64rem; 
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-blue);
    color: #FFFFFF;
}
#menu-mobile{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
}
#menu-mobile button{
    height: 20px;
    width: 70%;
    margin-right: 20px;
}
#hero h1{
    font-size: 2rem;
    padding-left: 20px;
    padding-bottom: 15px;
}
#hero p{
    font-size: 0.86rem;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--color-grey);
    line-height: 140%;
    padding-bottom: 25px;
}
#first-button, #second-button{
    display: flex;
    margin: 15px;
    border-radius: 45px;
}
#first-button{
    padding: 5% 7% 5% 7%;
    background-color: var(--color-blue);
    color:#FFFFFF;
}
#second-button{
    padding: 5% 9% 5% 9%;
    margin-bottom: 40px;
    color: var(--color-blue);
}

.boxes {
    background-color: #1A1A1A;
}

.boxes h3 {
    color: #FFFFFF;
}

.boxes p {
    color: var(--color-grey); 
}
